
<div class="container">
    <h4>Welcome To VPRC</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            
                <div class="card" style="border-radius: 5px; text-align: center;">
                    <div class="card-body" matRipple
                         [matRippleCentered]="centered"
                         style="border-radius: 5px;"
                        >
                        <img src="../../assets/undraw_hire_re_gn5j (2).svg" alt="" srcset="" width="200px" class="img-fluid">
                        <br><br>
                        <h3>Total Employees</h3>
                        <p class="card-text" style="font-size: 30px;">{{ employeelength > 0 ? employeelength : '0' }}</p>
                        <button mat-raised-button color="primary" routerLink="/post-result">Employee Details</button>
                    </div>
                </div>
        </div>
        
            <div class="col-md-4">
                <div class="card" style="border-radius: 5px;">
                    <div class="card" style=" border: none;border-radius: 5px; text-align: center;">
                        <div class="card-body" matRipple
                             [matRippleCentered]="centered"
                             style="border-radius: 5px;"
                            >
                            <img src="../../assets/undraw_receipt_re_fre3 (2).svg" alt="" srcset="" width="99px" class="img-fluid">
                            <br><br>
                            <h3>Employee Salary Slips</h3>
                            <p class="card-text" style="font-size: 30px;">{{ postlength > 0 ? postlength : '0' }}</p>
                            <button mat-raised-button color="primary" routerLink="/payslip-details">Payslip Details</button>
                        </div>
                    </div>
                </div>
            </div>
       
        
        
            <div class="col-md-4">
                <div class="card" style="border-radius: 5px;">
                    <div class="card" style=" border: none;border-radius: 5px; text-align: center;">
                        <div class="card-body" matRipple
                             [matRippleCentered]="centered"
                             style="border-radius: 5px;"
                            >
                            <img src="../../assets/undraw_booking_re_gw4j (1).svg" alt="" srcset="" width="134px" class="img-fluid">
                            <br><br>
                            <h3>Generate PaySlip</h3>
                            <p class="card-text" style="font-size: 30px;">{{month | date: 'MMMM yyyy'}}</p>
                            <button mat-raised-button color="primary" routerLink="/payslip">Create</button>
                        </div>
                    </div>
                </div>
            </div>
       
        
    </div>
</div>

<br><br><br>


<div class="container">
    <h4>Learn to use our payroll</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="image-container d-flex align-items-stretch" style="background-color: #f1f1f17d;padding: 10px;">
               
                <img src="../../assets/undraw_setup_wizard_re_nday (1).svg" alt="" srcset="" width="50%" class="img-fluid" style="margin: auto;">
            </div>
        </div>
        
        <!-- <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="card col-md-12" style="text-align: center;margin: 2px;">

                        <div class="card-body" matRipple
                             [matRippleCentered]="centered"
                             style="border-radius: 5px;"
                            >
                            
                            <h3>Customer Support</h3>
                            
                            <button mat-raised-button color="primary" routerLink="/">Click Here</button>
                        </div>
                    </div>
                    <br>
                    <div class="card col-md-12" style="text-align: center;margin: 2px;">
                        <div class="card-body" matRipple
                             [matRippleCentered]="centered"
                             style="border-radius: 5px;"
                            >
                            
                            <h3>FAQ</h3>
                        
                            <button mat-raised-button color="primary" routerLink="/">Click Here</button>
                        </div>
                    </div>
                    <br>
                    
                    
                    <div class="card col-md-12" style="text-align: center;margin: 2px;">
                        <div class="card-body" matRipple
                             [matRippleCentered]="centered"
                             style="border-radius: 5px;"
                            >
                            
                            <h3>Guide</h3>
                        
                            <button mat-flat-button color="primary" routerLink="/">Click Here</button>
                        </div>
                    </div>
                </div>
            </div>
            
            

        </div> -->
    </div>
</div>
